*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

}
main{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
img{
    width: 100%;
    max-width: 100%;
    height: auto;

}
section{
    width: 70%;
}
aside{
width: 30%;
}
section >  h1 {
    font-size: 25px;
    font-weight: 700;
    color: hsl(14, 65%, 9%);
}
.grid-container{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    
}
.card > .image-cont >img{

}
.card > .text-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card > .text-cont > button {
    border: 1px solid hsl(14, 65%, 9%);
    padding: 10px;
    width: 200px;
    border-radius: 20px;
    margin: -30px  auto 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
.card > .text-cont > button >img{
    width: 20px;
}